$site-background : #DAE0E6;
$blue : #0079D3;
$orange: rgb(255, 69, 0);

.container-fluid{
    padding-left:0;
}

.auth-side-img{
    height: 100vh;
    width: 200px;
    margin: 0;
    float: left;
}

.btn-primary{
    background-color: $blue;
    width: 155px;
    height: 35px;
}

.auth-form{
    margin-top: 20px;
}

.auth-title{
    margin-top: 5px;
    margin-bottom: 20px;
}