$site-background : #DAE0E6;
$blue : #0079D3;
$orange: rgb(255, 69, 0);
$light-gray :rgba(248, 245, 242, 0.8);
$dark-gray :rgba(135,138,140,0.5);

@font-face {
    font-family: 'roboto';
    src: url("../fonts/Roboto-Regular.ttf") format('truetype');
}


html body{
    width: 100%;
    height: 100%;
    font-family: 'roboto';
    background-color: $site-background;
}

button{
    text-transform: uppercase;
}

.navbar{
    height: 48px;
}

.container-fluid{
    padding-left:0;
    padding-right: 0;
    // width: 100%;
    height: 100%;
}

.row{
    padding: 0;
    margin: 0;
    .col{
        padding: 0;
        margin: 0;
    }
}

.sticky-top{
    background-color: white;
    padding: 0 20px;
    height: 48px;
}

.auth-side-img{
    height: 100vh;
    max-width: 90%;
    margin: 0;
    float: left;
    display: none;
}

.btn-primary{
    background-color: $blue;
    width: 155px;
    height: 35px;
}

.auth-form{
    margin-top: 20px;
}

.auth-title{
    margin-top: 5px;
    margin-bottom: 20px;
}

.user-menu-dropdown{
    width: 175px;
    text-align: center;
    .dropdown-item {
        width: 175px;
        text-align: center;
    }
}

.auth-container{
    background-color: white;
    height: 100%;
    text-align: center;
}

.post-card{
    max-width: 100%;
    border-radius: 4px;
    margin-top: 14px;
    border:1px solid $dark-gray;

    .card-body{
        padding-top: 4px;
    }
    .post-link{
        color: dodgerblue;
        font-size: 13px;
    }
    .link-indicator{
        border: 1px solid dodgerblue;
        border-radius: 4px;
        display: grid;
        height: 83px;
        place-items: center;
        .fas{
            color: $blue;
        }
    }
    .child-comment{
        margin-left: 60px;
        margin-top: 15px;
        .row{
        border-left: 1px solid $dark-gray;
        }
    }
    .card{
        min-height: 136px;
        max-height: auto;
        border-radius: 0 4px 4px 0;
        border: 0;
        .row{
            padding-right: 5px;
        }
    }
    .card-text{
        font-weight: 600;
    }
    .card-header{
        height: 30px;
        padding: 5px;
        background-color: white;
        border: 0;
        a{
            color: black;
            font-weight: 600;
        }
    }
    .card-footer{
        background-color: white;
        height: 30px;
        padding: 5px;
        padding-left: 0;
        border: 0;
    }
    .vote-div{
        background-color: #F6F7F8;
        border-radius: 5px 0 0 5px;
    }
    .comment-link{
        width: 30px;
        height: 30px;
        padding: 5px;
        border-radius: 3px;
        font-size: 12px;
        a{
            text-decoration: none;
            font-weight: 600;
        }
        &:hover{
            background-color: $dark-gray;
        }
    }
}

.sub-img{
    border-radius: 20px;
}

.trending_card{
    button{
        font-size: 12px;
        line-height: 24px;
        padding: 4px 9px 2px;
        width: 100px;
        font-weight: 700;
        letter-spacing: .5px;
    }
    .list-group {
        border: 0;
    }
    li{
        border: 0;
        padding: 7px;
    }
    a{
        font-size: 14px;
        font-weight: 600;
        line-height: 16px;
    }
    .sub-img{
        margin: 5px;
    }
    .member-count{
        padding-left: 38px;
        font-size: 12px;
        font-weight: 600;
        line-height: 16px;
    }
    .card-header{
        border: 0;
        background-color: #33a8ff !important;
        color: white;
    }
    .btn{
        width: 85px !important;
    }
}

.card{
    a{
        color: black;
        font-weight: 400;
    }
    p{
        margin-bottom: 2px;
    }
}

.comment-footer{
    padding-top: 10px;
    .icon{
        padding-left: 2px;
    }
}

.icon{
    width: 30px;
    height: 30px;
    padding: 8px;
    border-radius: 3px;
    &:hover{
        background-color: rgb(207, 205, 205);
        .fas{
            color: $orange;
        }
    }
}

.icon-voted{
    width: 30px;
    height: 30px;
    padding: 8px;
    border-radius: 3px;
    background-color: rgb(207, 205, 205);
    .fas{
        color: $orange;
    }
}

.white-wall{
    background-color: white;
    width: 100%;
    height: 100%;
    margin: 0;
}

.side-img{
    height: 100%;
}

.create-post-card{
    margin-top:20px;
    .card-header{
    border: 0;
    background-color: white;
    }
}

.info-card{
    width: 312px;
    margin-top: 20px;
    .card{
        border-radius: 4px;
        border: 1px solid $dark-gray !important;
    }
    .card-header{
        background-color: white;
        border: 0;
    }
}

.subreddit-header{
    background-color: white;
    width: 100%;
    height: 170px;
}

.header-top{
    background-color: #33a8ff;
    width: 100%;
    height: 85px;
}
.header-bottom{
    width: 100%;
    height: 85px;
    .sub-title{
        font-weight: 1000;
        padding: 10px;
    }
    img{
        border-radius: 50px;
        position: absolute;
        bottom: 0;
        background-color: white;
    }
}

.post-vote-div{
    background-color: white;
    border-radius: 5px 0 0 5px;
}

.comment-votes{
    ul{
        list-style-type: none;
        padding: 0;
    }
    display: grid;
    place-items: center;

    .vote-icon{
        width: 30px;
        height: 30px;
        padding: 8px;
        border-radius: 3px;
        &:hover{
            .fas{
                color: $orange;
            }
        }
    }

    .icon-voted{
        width: 30px;
        height: 30px;
        padding: 8px;
        border-radius: 3px;
        background: white;
        .fas{
            color: $orange;
        }
    }
}

.reply-form{
    margin-left: 61px;
    padding: 20px;
    display: none;
    border-left: 1px solid $dark-gray;
}

.add-comment{
    border: 2px solid $dark-gray;
    border-radius: 3px;
    input{
        border: 0;
    }
    .card-footer{
        height: 50px;
        background-color: $light-gray;
    }
    form, .form-group{
        margin-bottom: 0;
    }
}

.create-card{
    li{
        border: none;
    }
    h6{
        font-weight: bold;
    }
    p{
        font-size: 16px;
    }
    ul{
        border: 0 !important;
    }
    .btn-primary{
        width: 100%;
        height: 37px;
        display: grid;
        place-items: center;
        font-weight: 600;
        text-transform: uppercase;
        color: white;
    }
    img{
        width: 100%;
        height: 40px;
    }
    .card-header{
        height: 40px;
        padding: 0;
    }
}

.btn-inverse{
    color:$blue !important;
    background: white !important;
    border-color: $blue !important;
    &:hover{
        color: white !important;
        background: $blue !important;
    }
}

.community-card{
    .btn-primary{
        width: 100%;
    }
}

.btn-primary{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
}

.navbar-nav{
    li{
        margin-right: 20px;
    }
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}
.tab-content{
    margin-top: 20px;
}

// Small devices (landscape phones, 576px and up)
@media screen and (min-width: 576px) { 
    .auth-side-img{
        display: block;
    }
    .auth-container{
        text-align: left;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 

 }