{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-2 col-lg-2">
        <img src="{{ url_for('static', filename='img/auth-background.png') }}" alt="" class="auth-side-img">
    </div>
    <div class="col-md-5 col-lg-5 my-auto">
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="reddit" width="50px">
        {% block form %}
        {% endblock %}
    </div>


</div>
{% endblock %}