{% extends 'auth/layout.html' %}

{% block form %}

{% from "_formhelper.html" import render_field %}
<div class="auth-form">
    <div class="auth-title">
        <h5>Sign up</h5>
    </div>
    <form method="POST" action="{{url_for('auth.register')}}">
        {{ form.csrf_token }}
        {{ render_field(form.username, class="form-control" , placeholder="Username") }}
        {{ render_field(form.email, class="form-control", placeholder="Email") }}
        {{ render_field(form.password, class="form-control", placeholder="Password") }}
        {{ render_field(form.confirm_password, class="form-control", placeholder="Confirm Password") }}
        <input type="submit" value="Sign Up" class="btn btn-primary">
    </form>
    <p>Already a redditor ? <a href="{{ url_for('auth.login') }}">Sign in</a></p>
</div>

{% endblock %}