{% extends 'auth/layout.html' %}

{% block form %}

{% from "_formhelper.html" import render_field %}
<div class="auth-form">
    <div class="auth-title">
        <h5>Enter your email address</h5>
    </div>
    <form method="POST" action="{{url_for('auth.reset_password_request')}}">
        {{ form.csrf_token }}
        {{ render_field(form.email, size="20") }}
        <input type="submit" value="Confirm" class="btn btn-primary">
    </form>
</div>
{% endblock %}