{% extends 'auth/layout.html' %}

{% block form %}

{% from "_formhelper.html" import render_field %}
<div class="auth-form">
    <div class="auth-title">
        <h5>Enter New Password</h5>
    </div>
    <form method="POST" action="">
        {{ form.csrf_token }}
        {{ render_field(form.password) }}
        {{ render_field(form.confirm_password) }}
        <input type="submit" value="Submit">
    </form>
</div>
{% endblock %}