.container-fluid {
  padding-left: 0; }

  .auth-side-img {
    height: 100vh;
    width: 200px;
    margin: 0;
    float: left; }

    .btn-primary {
      background-color: #0079D3;
      width: 155px;
      height: 35px; }

      .auth-form {
        margin-top: 20px; }

        .auth-title {
          margin-top: 5px;
          margin-bottom: 20px; }
