{% extends 'base.html' %}

{% block content %}

<h3> Welcome to r/{{subreddit.name}} created by {{subreddit.creator.username}}</h3>
<p>{{ subreddit.description}}</p>

<hr>
{% from "_formhelper.html" import render_field %}

<h4>Create Post</h4>

    <form method="POST" action="">
        {{ form.csrf_token }}
        {{ render_field(form.post_text, class="form-control", placeholder="Whats on your mind ?") }}
        <br>
        <input type="submit" value="Create" class="btn btn-primary">

    </form>


<h4>Posts</h4>
    <div>
    
    {% for post in posts %}
    <h6>post by {{ post.author.username }} on {{ post.timestamp }}</h6>
        {{ post.text }}
        <hr>
    {% endfor %}

    </div>

</ul>

{% endblock %}