{% macro create_card() %}
<div class="create-card info-card">
  <div class="card">
    <div class="card-header">
      <img src="{{ url_for('static', filename='img/home-banner.png') }}" alt="">
    </div>
    <div class="card-body">
      <h6>Home</h6>
      <p>
        Your personal Reddit frontpage. Come here to check in with your favorite communities.
      </p>
    </div>

    <ul class="list-group list-group-flush">
      <li class="list-group-item d-flex justify-content-between align-items-center">
          <a href="{{ url_for('core.create_post') }}" class="btn btn-primary">Create Post</a>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
          <a href="{{ url_for('subreddit.create') }}" class="btn btn-primary btn-inverse">Create Community</a>
      </li>
    </ul>
  </div>
</div>

{% endmacro %}


{% macro trending_card() %}
<div class="trending_card info-card">
  <div class="card">
    <div class="card-header">
      <b> Top Communities </b>
    </div>
    <ul class="list-group list-group-flush">
      {% for sub in subreddits %}
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div>
          <a href="{{ url_for('subreddit.home', name=sub.name ) }}">
            <img class="sub-img" src="{{ url_for('static', filename='img/default-subreddit.png') }}" alt=""
              width="25px"> r/{{ sub.name }}
          </a><br>
          <small class="text-muted member-count"><b>{{sub.subscribers.count()}} members</b></small>
        </div>
        {% if current_user.is_authenticated and current_user.is_subscribed(sub) and
                    current_user.id != sub.creator.id %}
        <form method="POST" action="{{ url_for('subreddit.unsubscribe', subreddit=sub.name) }}">
          {{ empty_form.csrf_token }}
          {{ empty_form.submit(value='Leave', class_='btn btn-danger') }}
        </form>
        {% elif current_user.id != sub.creator.id %}
        <form method="POST" action="{{ url_for('subreddit.subscribe', subreddit=sub.name) }}">
          {{ empty_form.csrf_token }}
          {{ empty_form.submit(value='Join', class_='btn btn-primary') }}
        </form>

        {% endif %}


      </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% endmacro %}

{% macro rules_card() %}
<div class="rules-card info-card">
  <div class="card">
    <div class="card-header">
      <img src="{{ url_for('static', filename='img/logo.png') }}" style="margin: 5px;" width="30px" alt="">
      <b> Posting to Reddit </b>
    </div>
    <ol class="list-group">
      <li class="list-group-item">1. <b> Rememeber the human </b></li>
      <li class="list-group-item">2. <b>Behave like you would in real life </b></li>
      <li class="list-group-item">3. <b>Look for the original source of content </b></li>
      <li class="list-group-item">4. <b>Search for duplicates before posting </b></li>
      <li class="list-group-item">5. <b>Read the community’s rules </b></li>
    </ol>
  </div>
</div>

{% endmacro %}

{% macro community_card(subreddit) %}
<div class="community-card info-card">
  <div class="card">
    <div class="card-header">
      <b> About Community </b>
    </div>
    <div class="card-body">
      <p class="card-text">
        {{ subreddit.description }}
      </p>
      <div class="row">
        <div class="col">{{ subreddit.subscribers.count() }} Members</div>
        <div class="col">14k Online</div>
      </div>
      <hr>
      <p> Cake day {{ subreddit.date_created }}</p>
      <div class="row">
        <div class="col"><button class="btn btn-primary">Create Post</button> </div>
      </div>
      
    </div>
  </div>
</div>

{% endmacro %}