{% macro card(post) %}

<div class="post-card">
    <div class="row no-gutters">
        <div class="col-sm-1 col-md-1 vote-div">
            <div class="row no-gutters justify-content-center">
                <span
                    class="{{ 'icon-voted' if current_user.is_authenticated and post.is_upvoted(current_user) else 'icon' }}"
                    id="upvote-{{post.id}}" onclick="upvote({{ post.id }})">
                    <i class="fas fa-arrow-up">
                    </i>
                </span>

            </div>
            <div class="row no-gutters justify-content-center">
                <small><b id="votes-{{post.id}}"> {{ post.votes() }} </b></small>
            </div>
            <div class="row no-gutters justify-content-center">
                <span
                    class="{{ 'icon-voted' if current_user.is_authenticated and post.is_downvoted(current_user) else 'icon' }}"
                    id="downvote-{{post.id}}" onclick="downvote({{post.id}})">
                    <i class="fas fa-arrow-down"></i>
                </span>
            </div>
        </div>
        <div class="col-sm-11 col-md-11">
            <div class="card">
                <div class="card-header">
                    <small class="text-muted">
                        <a href="{{ url_for('subreddit.home', name=post.subreddit.name) }}">
                            <img class="sub-img" src="{{ url_for('static', filename='img/default-subreddit-30.png') }}"
                                alt="" width="20px">
                            r/{{ post.subreddit.name }}
                        </a>
                        Posted by u/{{ post.author.username }}
                    </small>
                </div>
                <div class="row">
                    <div class="col-md-10 col-lg-10 card-body">
                        <p class="card-text title">{{ post.title }}</p>
                        {% if post.description %}
                        <p class="post-description">
                            {{ post.description }}
                        </p>
                        {% endif %}
                        {% if post.link %}
                        <p><a class="post-link" href="{{ post.link }}">{{ post.short_link() }}</a> </p>
                        {% endif %}
                    </div>
                    {% if post.link %}
                    <div class="cold-md-2 col-lg-2 link-indicator">
                        <a href="{{ post.link }}">
                            <i class="fas fa-link"></i>
                        </a>
                    </div>
                    {% endif %}
                </div>

                <div class="card-footer text-muted">
                    <small>
                        <span class="comment-link">
                            <i class="fas fa-comment-alt"></i>
                            <a href="{{ url_for('subreddit.post', id=post.id, subreddit=post.subreddit.name ) }}">
                                {{ post.comments.count() }} Comments
                        </span>
                        </a>
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>
{% endmacro %}