{% extends 'base.html' %}

{% block content %}
<a href="{{ url_for('auth.logout') }}">logout</a>
<a href="{{ url_for('subreddit.create') }}">Create community</a>
<h3>Users</h3>
<ul>
    {% for user in users%}
    <li>{{ user.username }}</li>
    {% endfor %}
</ul>
<h3>subreddits</h3>
<ul>
    {% for sub in subreddits%}
    <li><a href="{{ url_for('subreddit.subreddit', name=sub.name )}}">r/{{ sub.name }}</a></li>
    {% endfor %}
</ul>
{% endblock %}