{% macro trending_card() %}
<div class="trending_card">
    <div class="card">
        <div class="card-header">
           <b> Trending Communities </b>
        </div>
        <ul class="list-group list-group-flush">
            {% for sub in subreddits %}

            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                    <a href="{{ url_for('subreddit.home', name=sub.name ) }}">
                        <img class="sub-img" src="{{ url_for('static', filename='img/default-subreddit.png') }}"
                        alt="" width="30px">  r/{{ sub.name }}
                    </a><br>
                    <small class="text-muted"><b>102,234 members</b></small>
                </div>
                {% if current_user.is_authenticated and current_user.is_subscribed(sub) and
                    current_user.id != sub.creator.id %}
                <form method="POST" action="{{ url_for('subreddit.unsubscribe', subreddit=sub.name) }}">
                    {{ empty_form.csrf_token }}
                    {{ empty_form.submit(value='Leave', class_='btn btn-danger') }}
                </form>
                {% elif current_user.id != sub.creator.id %}
                <form method="POST" action="{{ url_for('subreddit.subscribe', subreddit=sub.name) }}">
                    {{ empty_form.csrf_token }}
                    {{ empty_form.submit(value='Join', class_='btn btn-primary') }}
                </form>

                {% endif %}
                
                
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endmacro %}