{% block nav %}


<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <a class="navbar-brand" href="{{ url_for('core.index') }}" >
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="reddit" width="30px">
        reddit
    </a>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto ">
            {% if current_user.is_authenticated %}
            <li class="nav-item dropdown user-menu-dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ current_user.username }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ url_for('auth.logout') }}">Log out</a>
                </div>
            </li>
            {% endif %}
        </ul>
        <ul class="navbar-nav">
            <li><a href="" class="btn btn-primary">Log in</a></li>
            <li><a href="" class="btn btn-primary btn-inverse">Sign up</a></li>
        </ul>
    </div>
</nav>



{% endblock %}